$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;
$color-azul-font: rgb(17, 26, 139);
$color-celeste-font: rgb(92, 100, 204);
$fuente-primaria: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fuente-secundaria: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
